<a href="https://colab.research.google.com/github/yexf308/PracticalML/blob/main/Week_1_Case_Study_Adult_Data_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This adult dataset is from [UCI repo](https://archive.ics.uci.edu/ml/datasets/Adult). Extraction was done by Barry Becker from the 1994 Census database. Prediction task is to determine whether a person makes over 50K a year.

In [1]:
!wget https://raw.githubusercontent.com/yexf308/PracticalML/main/data/adult.data.csv?raw=true -O adult.data.csv

--2023-05-16 15:14:32--  https://raw.githubusercontent.com/yexf308/PracticalML/main/data/adult.data.csv?raw=true
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3518606 (3.4M) [text/plain]
Saving to: ‘adult.data.csv’

adult.data.csv      100%[===================>]   3.36M  --.-KB/s    in 0.07s

2023-05-16 15:14:33 (47.4 MB/s) - ‘adult.data.csv’ saved [3518606/3518606]

In [2]:
import numpy as np
import pandas as pd

pd.set_option("display.max.columns", 100)
%matplotlib inline
import warnings

import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

In [3]:
# read csv file
df = pd.read_csv("adult.data.csv")
# check the first 5 rows of the dataframe
print(df.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

In [5]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

# Data Analysis

In [ ]:
# How many men and women (sex feature) are represented in this dataset?

In [ ]:
# What is the average age (age feature) of women?

In [ ]:
# What is the percentage of German citizens (native-country feature)?

In [ ]:
# What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) 
# and those who earn less than 50K per year?

In [ ]:
#  Is it true that people who earn more than 50K have at least high school education? 
# (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [ ]:
#  Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). 
#  Find the maximum age of men of Amer-Indian-Eskimo race.

In [ ]:
# Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? 
# Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [ ]:
# What is the maximum number of hours a person works per week (hours-per-week feature)? 
# How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [ ]:
#  Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). 
# What will these be for Japan?