<a href="https://colab.research.google.com/github/yexf308/PracticalML/blob/main/Homework/HW1/593Fa23HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

$\def\m#1{\mathbf{#1}}$
$\def\mm#1{\boldsymbol{#1}}$
$\def\mb#1{\mathbb{#1}}$
$\def\c#1{\mathcal{#1}}$
$\def\mr#1{\mathrm{#1}}$
$\newenvironment{rmat}{\left[\begin{array}{rrrrrrrrrrrrr}}{\end{array}\right]}$
$\newcommand\brm{\begin{rmat}}$
$\newcommand\erm{\end{rmat}}$
$\newenvironment{cmat}{\left[\begin{array}{ccccccccc}}{\end{array}\right]}$
$\newcommand\bcm{\begin{cmat}}$
$\newcommand\ecm{\end{cmat}}$

# Homework 1
## Homework guideline
- The deadline is Sep 8th 10:30am. Submission after the deadline will not be graded. 

- Submit your work(your reasoning and your code) as a SINGLE .ipynb document. Please rename the document as _HW1_YOURNAME.ipynb_ (for example, _HW1_FELIX.ipynb_). You are responsible for checking that you have correctly submitted the correct document. If your code cannot run, you may receive NO point. 

- Please justify all short answers with a brief explanation. 

- You only use the Python packages included in the following cell. You are not allowed to use other advanced package or modules unless you are permitted to. 

- In your final submission include the plots produced by the unedited code as presented below, as well as any additional plots produced after editing the code during the course of a problem. You may find it necessary to copy/paste relevant code into additional cells to accomplish this.

- Feel free to use the lecture notes and other resources. But you
must understand, write, and hand in your own answers. In addition, you must write and submit
your own code in the programming part of the assignment (we may run your code).
If you copy someone else homework solution, both of you may receive ZERO point. 


- Colab is preferred. However, if you use Anaconda, please download the data file locally and save it to the same folder as this homework file.

In [ ]:
import pandas as pd
import numpy as np

import seaborn as sns

sns.set()
import matplotlib.pyplot as plt

# sharper plots
%config InlineBackend.figure_format = 'retina'

# Q1: Data Analysis of Olympic Games (40pt)
We are using pandas to analysis the following dataset. 
The dataset has the following features:

- __ID__ – Unique number for each athlete
- __Name__ – Athlete's name
- __Sex__ – M or F
- __Age__ – Integer
- __Height__ – In centimeters
- __Weight__ – In kilograms
- __Team__ – Team name
- __NOC__ – National Olympic Committee 3-letter code
- __Games__ – Year and season
- __Year__ – Integer
- __Season__ – Summer or Winter
- __City__ – Host city
- __Sport__ – Sport
- __Event__ – Event
- __Medal__ – Gold, Silver, Bronze, or NA

You are required to write code to answer the following questions.

In [ ]:
!wget https://raw.githubusercontent.com/yexf308/PracticalML/main/data/athlete_events.csv.zip?raw=true -O athlete_events.csv.zip
!unzip athlete_events.csv.zip

--2023-05-17 15:25:11--  https://raw.githubusercontent.com/yexf308/PracticalML/main/data/athlete_events.csv.zip?raw=true
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5536276 (5.3M) [application/zip]
Saving to: ‘athlete_events.csv.zip’

athlete_events.csv. 100%[===================>]   5.28M  --.-KB/s    in 0.06s

2023-05-17 15:25:12 (93.7 MB/s) - ‘athlete_events.csv.zip’ saved [5536276/5536276]

Archive:  athlete_events.csv.zip
  inflating: athlete_events.csv

In [ ]:
df = pd.read_csv('athlete_events.csv',index_col="ID")

In [ ]:
df.head(2)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN



---



---

In [ ]:
# Q1.1 
# How old were the youngest male and female participants of the 1992 Olympics?

# your code starts here

In [ ]:
# Q1.2
# What was the percentage of male basketball players among all the male participants of the 2012 Olympics? 
# Round the answer to the first decimal

# your code starts here

In [ ]:
# Q1.3
# What are the mean and standard deviation of height for female tennis players who participated in the 2000 Olympics? 
# Round the answer to the first decimal.

# your code starts here

In [ ]:
# Q1.4
# Find the heaviest athlete among 2006 Olympics participants. What sport did he or she do?

# your code starts here

In [ ]:
# Q1.5
# How many times did John Aalberg participate in the Olympics held in different years?

# your code starts here

In [ ]:
# Q1.6
# How many gold medals in tennis did the Switzerland team win at the 2008 Olympics?

# your code starts here

In [ ]:
# Q1.7
# Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in the Medal column.

# your code starts here

In [ ]:
# Q1.8
# What are the least and most common age groups among the participants of the 2008 Olympics?
# Age groups are [15-25),[25,35),[35,45), [45,55]. 

# your code starts here

In [ ]:
# Q1.9
# Is it true that there were Summer Olympics held in Atlanta? 
# Is it true that there were Winter Olympics held in Squaw Valley?

# your code starts here

In [ ]:
# Q1.10
# What is the absolute difference between the number of unique sports at the 1994 Olympics and 2002 Olympics?

# your code starts here



---



---

# Q2: Data Analysis of US Flight (60pt)
For this question, the dataset is very large(~1G) so we need to use the google drive to store the data. You need to allow the colab access your google drive. If you feel unsafe to your own personal data, you can create a new google account, simply for the purpose of data analysis. 

**Data Description:** The dataset has information about carriers and flights between US airports during the year 2008. 
Column description is available [here](https://www.transtats.bts.gov/Fields.asp?gnoyr_VQ=FGJ). Visit this site to find ex. meaning of flight cancellation codes.

Consider the following terms we use:
* unique flight – a record (row) in the dataset
* completed flight – flight that is not cancelled (Cancelled==0 in the dataset)
* flight code – a combination of ['UniqueCarrier','FlightNum'], i.e.  UA52
* airport code – a three letter airport alias from 'Origin or 'Dest' columns

**Data access:** the SNP data is stored in https://drive.google.com/file/d/1kOEcWtcTbbrlhVf1wlYtFQUF_kY92U5O/. 

**Load Data (1pt)**: Once you open the link in the brower, make sure you click the "Add shortcut to Drive" and now your google drive should show up the zip file.  Then you run the following code to link colab to your google drive.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import os 
os.chdir("/content/drive/My Drive")

Mounted at /content/drive

We are not going to read in the whole dataset. In order to reduce memory footprint, we instead load only needed columns and cast them to suitable data types.

In [ ]:
dtype = {
    "DayOfWeek": np.uint8,
    "DayofMonth": np.uint8,
    "Month": np.uint8,
    "Cancelled": np.uint8,
    "Year": np.uint16,
    "FlightNum": np.uint16,
    "Distance": np.uint16,
    "UniqueCarrier": str,
    "CancellationCode": str,
    "Origin": str,
    "Dest": str,
    "ArrDelay": np.float16,
    "DepDelay": np.float16,
    "CarrierDelay": np.float16,
    "WeatherDelay": np.float16,
    "NASDelay": np.float16,
    "SecurityDelay": np.float16,
    "LateAircraftDelay": np.float16,
    "DepTime": np.float16,
}
flights_df = pd.read_csv("flights_2008.csv.bz2", usecols=dtype.keys(), dtype=dtype)

In [ ]:
print(flights_df.shape)
print(flights_df.columns)

(7009728, 19)
Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'UniqueCarrier',
       'FlightNum', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance',
       'Cancelled', 'CancellationCode', 'CarrierDelay', 'WeatherDelay',
       'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [ ]:
# Print first 5 rows of the dataset
flights_df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,FlightNum,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,WN,335,-14.0,8.0,IAD,TPA,810,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,WN,3231,2.0,19.0,IAD,TPA,810,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,WN,448,14.0,8.0,IND,BWI,515,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,WN,1746,-6.0,-4.0,IND,BWI,515,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,WN,3920,34.0,34.0,IND,BWI,515,0,NaN,2.0,0.0,0.0,0.0,32.0

In [ ]:
# Examine data types of all features and total dataframe size in memory
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009728 entries, 0 to 7009727
Data columns (total 19 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               uint16
 1   Month              uint8
 2   DayofMonth         uint8
 3   DayOfWeek          uint8
 4   DepTime            float16
 5   UniqueCarrier      object
 6   FlightNum          uint16
 7   ArrDelay           float16
 8   DepDelay           float16
 9   Origin             object
 10  Dest               object
 11  Distance           uint16
 12  Cancelled          uint8
 13  CancellationCode   object
 14  CarrierDelay       float16
 15  WeatherDelay       float16
 16  NASDelay           float16
 17  SecurityDelay      float16
 18  LateAircraftDelay  float16
dtypes: float16(8), object(4), uint16(3), uint8(4)
memory usage: 387.7+ MB

## Q2.1: Simple Tasks (24pt)
Here are simples tasks to further understand this dataset first.

In [ ]:
# Q2.1.1 Count unique Carriers and plot their relative share of flights

# Your code starts here

In [ ]:
# Q2.1.2 Finding top-3 flight codes, that have the largest total distance traveled in year 2008

# Your code starts here

In [ ]:
# Q2.1.3 Find number of flights by days of week and months and use imshow to plot this table

# Your code starts here

In [ ]:
# Q2.1.4 We have both cancelled and completed flights in the dataset. 
# Check if there are more completed or cancelled flights. What is the difference?

# Your code starts here

In [ ]:
# Q2.1.5 Find the carrier that has the greatest number of cancelled flights.

# Your code starts here

In [ ]:
# Q2.1.6
# Plot distributions of flight cancellation reasons (CancellationCode).
# What is the most frequent reason for flight cancellation? 
# (Use this (https://www.transtats.bts.gov/Fields.asp?Table_ID=236) to translate codes into reasons)

# Your code starts here

## Q2.2 More sophisticated tasks (35pt)
Now you are asked to perform more sophisticated analysis on this dataset.

In [ ]:
# Q2.2.1 
# We'll need a new column in our dataset - departure hour
# `DepTime` is distributed from 1 to 2400 (it is given in the `hhmm` format.
# We'll treat departure hour as `DepTime` // 100 (divide by 100 and apply the `floor` function). 
# However, now we'll have both hour 0 and hour 24. 
# Hour 24 sounds strange, we'll set it to be 0 instead (a typical imperfectness of real data, however, you can check that it affects only 521 rows, which is sort of not a big deal). 
# So now values of a new column `DepHour` will be distributed from 0 to 23. 
# There are some missing values, for now we won't fill in them, just ignore them.

In [ ]:
# Q2.2.2 
# Which route is the most frequent, in terms of the number of flights?
# Take a look at 'Origin' and 'Dest' features. Consider A->B and B->A directions as different routes)

In [ ]:
# Q2.2.3
# Find top-5 delayed routes (count how many times they were delayed on departure). 
# From all flights on these 5 routes, count all flights with weather conditions contributing to a delay.
# consider only positive delays

In [ ]:
# Q2.2.4
# Let's examine departure time and consider distribution by hour (column `DepHour` that we've created earlier).
# Which hour has the highest percentage of flights?
# Which hour has the least percentage of cancelled flights?

In [ ]:
# Q2.2.5
# Since we know the departure hour, it might be interesting to examine the average delay for corresponding hour. 
# Are there any cases, when the planes on average departed earlier than they should have done? 
# And if yes, at what departure hours did it happen?

In [ ]:
# Q2.2.6
# Examine the distribution of cancellation reasons with time. Make a bar plot of cancellation reasons aggregated by months.
import calendar

In [ ]:
# Q2.2.7
# Examine median arrival and departure delays (in time) by carrier. Which carrier has the lowest median delay time for both arrivals and departures? Leave only non-negative values of delay times ('ArrDelay', 'DepDelay').
# Use ([Boxplots](https://seaborn.pydata.org/generated/seaborn.boxplot.html) to plot ArrDelay vs Carrier and DepDelay vs Carrier.